body {
	width: 800px;
	margin: auto;
}

div {
	margin-bottom: 5px;
	border: 1px solid red;
}

#header {
	text-align: right;
}

#footer {
	background-color: #eee;
	margin-top: 100px;
}

img {
	display: block;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

#inputbox {
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 25px;
	margin-left: auto;
	width: 400px;	
}

#inputbuttons {
	margin-right: auto;
	margin-left: auto;
}

.button {
	background-color: #eee;
	border: none;
	color: black;
}